<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cvsu.ash.rhea.fishapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:layout_gravity="center_horizontal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FishFarms in Cavite"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnActivity"
            android:label="Discover Aquaculture"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".About"
            android:label="About"
            android:parentActivityName=".MainActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".SpeciesActivity"
            android:label="Common Species"
            android:parentActivityName=".LearnActivity">
            <intent-filter>
                <action android:name="android.intent.action.SpeciesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".milkfish"
            android:label="Common Species"
            android:parentActivityName=".SpeciesActivity">
            <intent-filter>
                <action android:name="android.intent.action.milkfish" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RulesActivity"
            android:label="Rules and Regulations"
            android:parentActivityName=".LearnActivity">
            <intent-filter>
                <action android:name="android.intent.action.RulesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FeedsActivity"
            android:label="Feeds"
            android:parentActivityName=".LearnActivity">
            <intent-filter>
                <action android:name="android.intent.action.FeedsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolsActivity"
            android:label="Tools and Equipments"
            android:parentActivityName=".LearnActivity">
            <intent-filter>
                <action android:name="android.intent.action.ToolsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tool1Activity"
            android:label="Equipment for Maintenance and Repairs"
            android:parentActivityName=".ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.Tool1Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tilapia"
            android:label="Common Species"
            android:parentActivityName=".SpeciesActivity">
            <intent-filter>
                <action android:name="android.intent.action.tilapia" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tool2Activity"
            android:label="Nets and Traps"
            android:parentActivityName=".ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.Tool2Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tool3Activity"
            android:label="Monitoring and Maintenance of Water Quality"
            android:parentActivityName=".ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.Tool3Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tool4Activity"
            android:label="Other Tools"
            android:parentActivityName=".ToolsActivity">
            <intent-filter>
                <action android:name="android.intent.action.Tool4Activity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mudcrab"
            android:label="Common Species"
            android:parentActivityName=".SpeciesActivity">
            <intent-filter>
                <action android:name="android.intent.action.mudcrab" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tigerprawn"
            android:label="Common Species"
            android:parentActivityName=".SpeciesActivity">
            <intent-filter>
                <action android:name="android.intent.action.tigerprawn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".greenmussel"
            android:label="Common Species"
            android:parentActivityName=".SpeciesActivity">
            <intent-filter>
                <action android:name="android.intent.action.greenmussel" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MarkerInfo"
            android:parentActivityName=".MapsActivity" />
        <activity
            android:name=".HistoryActivity"
            android:label="History"
            android:parentActivityName=".LearnActivity">
            <intent-filter>
                <action android:name="android.intent.action.HistoryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CMethodActivity"
            android:label="Culturing Methods"
            android:parentActivityName=".LearnActivity"><intent-filter>
            <action android:name="android.intent.action.CMethodActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter></activity>
    </application>

</manifest>